{% extends "base.html" %}

{% block content %}
    <main>
        <div class="pricing-header ml-2 p-5 small my-auto" >
                <h1>About me</h1>
                <p>Hi, I am Shakirov Renat, a Junior Data Scientist from Saint-Petersburg.</p>

                <p>Areas of interest:</p>

                <ul>
                    <li>Machine Learning</li>
                    <li>Deep Learning</li>
                    <li>Data Analysis</li>
                </ul>

                <p>Key skills:</p>

                <ul>
                    Python, PyTorch, Matplotlib, Seaborn, Flask, Pandas, SQL,
                    Scikit-learn, Linux, NumPy, NLP, CV, Docker, OOP
                </ul>

                <h3 id="contact-me">Contact me</h3>

                <p>Find me on <a href="https://github.com/Varfalamei">Github</a> / <a href="https://t.me/Varfalamei13">Telegram</a> / <a href="https://vk.com/renat_shk">VK</a> or just say <code class="highlighter-rouge">Hello</code> at
                <a href="renatshk@gmail.com">renatshk@gmail.com</a>.</p>

                <p>My resume is available here <a href="https://spb.hh.ru/resume/322c7b40ff085eb51d0039ed1f744c5651376f">HeadHunter</a>.</p>

        </div>
    </main>

{% endblock %}